<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xhshook">

    <application
        android:allowBackup="false"
        android:label="XhsHook"
        android:theme="@android:style/Theme.NoDisplay">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="XHS Anti-Detection Hook" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
    </application>
</manifest>
